<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Cloudinary</title>
</head>
<body><br /><br />
    <h1>Spring Boot file upload example</h1>
<form method="POST" action="/add" th:object="${actor}"
        enctype="multipart/form-data">
        Name: <input type="text" th:field="*{name}" />
        Real Name: <input type="text" th:field="*{name}" />
        <input type="file" name="file" /><br/><br/>
        <input type="submit" value="Submit" />
    </form>
</body></html>